<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
              
      <!-- Sitecore MVC -->
      <httpRequestBegin>
        <processor
          patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']"
          type="WebFormsForMarketers.Extensions.Web.Processors, WebFormsForMarketers.Extensions"/>
      </httpRequestBegin>
      
      <initialize>
        <processor type="WebFormsForMarketers.Extensions.Sample.Mvc.RegisterWebApiRoute, WebFormsForMarketers.Extensions.Sample"/>
      </initialize>
      
    </pipelines>
  </sitecore>
</configuration>